<div ng-if="stage._embedded" ng-class="{active:current==stage}">
	<div class="text-center" ng-class="{'bg-secondary':current==stage, 'bg-white':current!=stage}">
		<a href="" ng-click="setCurrent(stage)" ng-class="{'text-light':current==stage}" ng-click=""><span>Stage</span> {[stage.level]}</a>
	</div>
	<div ng-if="stage._embedded._embedded.images.length" 
		 ng-repeat="img in stage._embedded._embedded.images" class=""
	>
		<a href="" ng-click="setCurrent(stage);">
			<img ng-if="img._links" ng-src="{[ img._links.self.href ]}" alt="{[ img.description ]}" title="{[ img.description ]}" class="img-thumbnail p-0 border-0 img-responsive stage-img"/>
		</a>
	</div>
	<div ng-repeat="(i, op) in stage._embedded._embedded.operations" class="text-center">
		<span class="small">{[op.name]}</span>
	</div>
</div>

<ng-include 
	ng-if="stage.children.length"
	ng-repeat="child in stage.children" 
	ng-init="stage=child;" 
	class="d-flex"
	src="'/js/custom/tpl/stage-images.html'"
/>

