<div class="text-center my-1">
	<a href="" 
		class="btn btn-sm btn-outline-primary"
		ng-click="setCurrent(stage)" 
		ng-class="{'active':current==stage}"
		>{[ stage.name ]}</a>
</div>
<div ng-if="stage.images.length" 
	 ng-repeat="img in stage.images" 
	 class="text-center"
>
	<a href="" ng-click="setCurrent(stage);">
		<img ng-src="{[ img.links.getHref() ]}" alt="{[ img.description ]}" title="{[ img.description ]}" class="img-thumbnail p-0 border-0 img-responsive stage-img"/>
	</a>
</div>
<div ng-repeat="(i, op) in stage.operations" class="text-center">
	<span class="small">{[op.name]}</span>
</div>
