<li class="nav-link" ng-class="{active:stage==values.current, editor:stage.editor}">
	<a href="" ng-click="values.current=stage;">Stage <span>{[ stage.level ]}</span></span></a>
</li>

<li ng-if="stage._embedded && !stage.children.length" class="nav-link" style="">
<a href="" ng-click="addStage(stage)" class="btn-sm btn-default"><span class="fa fa-plus"></span></a>
</li>

<ul class="nav nav-tabs" ng-include 
	ng-repeat="child in stage.children" 
	ng-init="index=index+1; stage=child;" 
	src="'/js/custom/tpl/stage-nav-content.html'"
/>

