<a ng-href="{[ item.user.links.getHref() ]}">{[ item.user.name ]}</a>
<span class="text-muted">{[ item.name ]}</span>
a
<span class="text-muted" ng-if="isNote(item.source)"> 
	<span ng-if="item.source.class === 'MA\\Entity\\Note\\HintReason'">reason</span> 
	<span ng-if="item.source.class === 'MA\\Entity\\Note\\HintInfluence'">influence</span> 
	<span ng-if="item.source.class === 'MA\\Entity\\Note\\HintSuggestion'">suggestion</span> 
	<span ng-if="item.source.class === 'MA\\Entity\\Note\\HintEffect'">effect</span> 
	<span ng-if="item.source.class === 'MA\\Entity\\Note\\HintPrevention'">prevention</span> 
note</span>
<span class="text-muted" ng-if="isProcess(item.source)">Process</span> 
<span class="text-muted" ng-if="isVersion(item.source)">Version</span> 
<span class="text-muted" ng-if="isStage(item.source)">Stage</span> 
<span class="text-muted" ng-if="isHint(item.source)">Hint</span> 
<span class="text-muted" ng-if="isHintReason(item.source)">HintReason</span> 
<span class="text-muted" ng-if="isHintInfluence(item.source)">HintInfluence</span> 
<span class="text-muted" ng-if="isSimulation(item.source)">Simulation</span> 
on process
<a ng-href="{[ item.process.links.getHref() ]}">{[ item.process.title ]}</a>.
<small>{[ item.created | date: "MM/dd/yyyy 'at' HH:mm" ]}</small>

<!--<pre ng-if="item.name == 'update'" class="my-1">{[ item.content ]}</pre>-->

<div ng-repeat="(key, contents) in item.content" ng-switch="key" class="py-1 pl-4">
	<div class="d-flex" ng-switch-when="images">
		<!--<pre>{[ item.content ]}</pre>-->
		<div class="bg-light align-self-center py-1 px-2 mr-2">{[ key ]}</div>
		<div class="">
			<a ng-if="contents['delete']" ng-repeat="image in contents['delete']" ng-href="{[ image.href ]}" target="_blank" class="btn btn-sm btn-light mx-1">
				<span class="text-danger fa fa-close mr-2"></span><img width="100 "ng-src="{[ image.href ]}" />
			</a>
		</div>
		<div class="">
			<a ng-if="contents['insert']" ng-repeat="image in contents['insert']" ng-href="{[ image.href ]}" target="_blank" class="btn btn-sm btn-light mx-1">
				<span class="text-success fa fa-plus mr-2"></span><img width="100 "ng-src="{[ image.href ]}" />
			</a>
		</div>
	</div>
	<div class="d-flex" ng-switch-when="operations">
		<!--<pre>{[ item.content ]}</pre>-->
		<div class="bg-light align-self-center py-1 px-2 mr-2">{[ key ]}</div>
		<div class="">
			<a ng-if="contents['delete']" ng-repeat="operation in contents['delete']" ng-href="{[ operation.href ]}" class="btn btn-sm btn-light mx-1">
				<span class="text-danger fa fa-close mr-2"></span>{[ operation.name ]}
			</a>
		</div>
		<div class="">
			<a ng-if="contents['insert']" ng-repeat="operation in contents['insert']" ng-href="{[ operation.href ]}" class="btn btn-sm btn-light mx-1">
				<span class="text-success fa fa-plus mr-2"></span>{[ operation.name ]}
			</a>
		</div>
	</div>
	<div class="d-flex" ng-switch-default>
		<div class="bg-light align-self-center py-1 px-2 mr-2">{[ key ]}</div>
		<div class="text-danger align-self-center p-1 mx-1" ng-bind-html="contents[0]"></div>
		<div class="text-success align-self-center p-1 ml-2" ng-bind-html="contents[1]"></div>
	</div>
</div>
