<div class="d-flex flex-row py-2">
	<div class="align-self-start font-weight-bold mr-3">
		<small class="avatar-circle mx-auto" style="background: {[userColor(item.user)]}">
			<span class="initials">{[ item.user.name.charAt(0) | uppercase ]}</span>
		</small>
	</div>
	<div class="flex-fill">
		<div>
			<a ng-href="{[ item.user.links.getHref() ]}">{[ item.user.name ]}</a>
			<span class="">{[ eventLabel(item.name) ]}</span>
			<span class="text-muted">{[ classLabel(item.source) ]}</span>
		</div>
		<div>
			<a ng-href="{[ item.process.links.getHref() ]}">{[ item.process.title ]}</a>
			<span class="text-muted">nº{[ item.process.number ]}</span>
		</div>

		<div ng-if="item.version" class="btn-group btn-group-sm">
			<a href="" class="py-0 btn btn-sm disabled btn-{[ item.version.stateColor() ]}" >{[ item.version.stateLabel() ]}</a>
			<a href="{[ item.process.links.getHref() ]}?version={[item.version.id]}" class="py-0 border-left-0 btn btn-sm btn-outline-primary ]}" >{[ item.version.name ]}</a>
			<!--<a href="{[ item.version.material.links.getHref() ]} " class="py-0 btn btn-sm btn-outline-primary ]}" >{[ item.version.material.name ]}</a>
			<a href="{[ item.version.type.links.getHref() ]} " class="py-0 btn btn-sm btn-outline-primary ]}" >{[ item.version.type.name ]}</a>-->
		</div>

		<div ng-if="item.stage" class="btn-group btn-group-sm">
			<a href="{[ item.process.links.getHref() ]}?version={[item.version.id]}&stage={[item.stage.id]}" class="py-0 btn btn-sm btn-outline-primary" >Stage {[ item.stage.order ]}</a>
		</div>
		<div ng-if="item.hint" class="btn-group btn-group-sm">
			<a href="{[ item.hint.links.getHref() ]}" class="py-0 btn btn-sm btn-{[item.hint.color]}" style="white-space:normal">
				<span class="badge badge-light mr-2">{[ item.hint.priority ]}</span>{[ item.hint.name ]} 
			</a>
		</div>

		<p class="text-muted small py-1 mb-1">on {[ item.created | date: "dd MMMyy 'at' HH:mm" ]}</p>

		<ng-include ng-if="isComment(item.source)" 
			ng-init="action=item;comment=item.source" 
			src="'/js/custom/tpl/partial/action/comment.html'" />

		<ng-include ng-if="item.name!='update' && isVersion(item.source)" 
			ng-init="action=item;version=item.source" 
			src="'/js/custom/tpl/partial/action/version.html'" />

		<ng-include ng-if="item.name!='update' && isStage(item.source)" 
			ng-init="action=item;stage=item.source" 
			src="'/js/custom/tpl/partial/action/stage.html'" />

		<ng-include ng-if="item.name!='update' && isHint(item.source)" 
			ng-init="action=item;hint=item.source" 
			src="'/js/custom/tpl/partial/action/hint.html'" />

		<ng-include ng-if="item.name!='update' && isSimulation(item.source)" 
			ng-init="action=item;simulation=item.source" 
			src="'/js/custom/tpl/partial/action/simulation.html'" />

		<ng-include ng-if="item.name!='update' && isNote(item.source)" 
			ng-init="action=item;note=item.source" 
			src="'/js/custom/tpl/partial/action/note.html'" />
		
		<ng-include ng-if="item.name=='update'" 
			src="'/js/custom/tpl/partial/_action.html'" />

	</div>
</div>

