{% extends 'ma/process/base.twig' %}

{% block template %}

	<div class="col-md-12" ng-init="init()">

		<h1>{{ translate("New process") }}</h1>

		<div class="row">{{ partial('partial/form/process', {'form': form}) }}</div>

	</div>

{% endblock template %}
