{% extends 'layout/base-layout.twig' %}

{# block template #}
{% block content %}

	<div class="row"><div class="col-md-12"
		ng-cloak
		ng-controller="DetailCtrl"
		ng-init="init({{ json(hal().renderEntity(hal)) | escape }}, {{ values | json_encode }})"
		>
		<!--
		{[ values ]}
		-->

		<div class="my-box d-flex flex-column" ng-class="{editor: entity.editor}">
			<div class="d-flex">
				<div class="ml-auto mr-auto">
					<div ng-show="entity.showErrors" class="errors">{[ entity.errors.title ]}</div>
				</div>
				<div class="">
					<a href="" class="btn btn-sm btn-default" 
						ng-if="!entity.editor;" 
						ng-click="entity.editor=true;"
					>
						<span class="fa fa-pencil"></span>
					</a>
					<a href="" class="btn btn-sm btn-default" 
						ng-if="entity.editor;" 
						ng-click="entity.editor=false;"
					>
						<span class="fa fa-close"></span>
					</a>
					<button type="submit" class="btn btn-sm btn-success" 
						ng-if="entity.editor;" 
						ng-click="submitProcess();"
					>
						<span class="fa fa-check"></span>
					</button>
				</div>
			</div>
			<div ng-if="!entity.editor" class="d-flex flex-column">
				<h2 class="mr-auto">{[ entity.title ]}</h2>
				<div ng-bind-html="entity.body"></div>
				<div class="d-flex justify-content-center mt-4 mb-4">

					<!--
					<ng-include ng-if="version" ng-repeat="(i, stage) in getStages(version)"
						src="'/js/custom/tpl/stage-img-content.html'"
						>
					-->
					<ng-include
						ng-repeat="(i, stage) in values.versions"
						ng-if="version == stage"
						src="'/js/custom/tpl/stage-img-content.html'"
					/>

				</div>
			</div>
			<form ng-if="entity.editor" style="padding:15px;">
				<div class="form-group">
					<!--<label class="control-label">Title</label>-->
					<div class="controls">
						<input type="text" 
							class="form-control" 
							ng-class="{'is-invalid': entity.errors.title}"
							ng-model="values.title"/>
						<div ng-if="entity.errors.title"
							ng-repeat="(key, text) in entity.errors.title"
							class="invalid-feedback">{[key]}. {[text]}</div>
					</div>
				</div>
				<div class="form-group">
				    <div class="controls">
				
						<text-angular 
							name="body"
							ng-model="values.body"
							ta-toolbar="[['bold', 'italics', 'underline' ], ['ul', 'insertLink', 'html'] ,]"
							ta-text-editor-class="form-height form-control"
							>
						</text-angular>

						<div ng-if="entity.errors.body"
							ng-repeat="(key, text) in entity.errors.body"
							class="invalid-feedback" style="display:block;">{[key]}. {[text]}</div>
						
				    </div>
				</div>
			</form>
		</div>

		{% block base %}{% endblock base %}

	</div>

{% endblock content %}

{% block style %}
	{{ parent() }}

	<style>
	</style>

{% endblock style %}
