{% extends 'layout/base-layout.twig' %}

{# block template #}
{% block content %}

	<div class="row"><div class="col-md-12"
		ng-cloak
		ng-controller="DetailCtrl"
		ng-init="init({{ json(hal().renderEntity(hal)) | escape }}, {{ values | json_encode }})"
		>

		<div ng-if="messages.success.length || messages.errors.length" class="messages">
			<div class="container">
				<div ng-repeat="message in messages.errors track by $index" class="alert alert-danger" role="alert">{[ message ]}<a href="" ng-click="closeError(message)" class="pull-right"><span class="fa fa-close"></span></a></div>
				<div ng-repeat="message in messages.success track by $index" class="alert alert-success" role="alert">{[ message ]}<a href="" ng-click="closeSuccess(message)" class="pull-right"><span class="fa fa-close"></span></a></div>
			</div>
		</div>

		<!--
		{[ values ]}
		-->

		<div class="my-box d-flex flex-column" ng-class="{editor: entity.editor}">
			<div class="d-flex">
				<div class="ml-auto mr-auto">
					<div ng-show="entity.showErrors" class="errors">{[ entity.errors.title ]}</div>
				</div>
				<div class="">
					<a href="" class="btn btn-sm btn-default" 
						ng-if="!entity.editor;" 
						ng-click="entity.editor=true;"
					>
						<span class="fa fa-pencil"></span>
					</a>
					<a href="" class="btn btn-sm btn-default" 
						ng-if="entity.editor;" 
						ng-click="entity.editor=false;"
					>
						<span class="fa fa-close"></span>
					</a>
					<button type="submit" class="btn btn-sm btn-success" 
						ng-if="entity.editor;" 
						ng-click="submitProcess();"
					>
						<span class="fa fa-check"></span>
					</button>
				</div>
			</div>
			<div ng-if="!entity.editor" class="d-flex flex-column">
				<h2 class="mr-auto">{[ entity.title ]}</h2>
				<div ng-bind-html="entity.body"></div>
				<div class="d-flex justify-content-center mt-4 mb-4">

					<div ng-repeat="(index, stage) in values.stages" 
						class="d-flex flex-column justify-content-center mx-1 process-stage-list"
						ng-class="{active: stage == values.current}"
					>
						<div ng-if="stage._embedded._embedded.images.length" 
							class="process-img-list" 
						>
							<div ng-repeat="(i, img) in stage._embedded._embedded.images" 
								class="item list-inline-item"
							>
								<a href="" ng-click="current(stage.id)">
									<img ng-if="img._links" ng-src="{[ img._links.self.href ]}" alt="{[ img.description ]}" title="{[ img.description ]}" width=85 height=85 />
								</a>
							</div>
						</div>
						<div ng-repeat="(i, op) in stage._embedded._embedded.operations" 
							class="small"
						>
							{[op.name]}
						</div>
					</div>

				</div>
			</div>
			<form ng-if="entity.editor" style="padding:15px;">
				<div class="form-group">
					<!--<label class="control-label">Title</label>-->
					<div class="controls">
						<input type="text" 
							class="form-control" 
							ng-class="{'is-invalid': entity.errors.title}"
							ng-model="values.title"/>
						<div ng-if="entity.errors.title"
							ng-repeat="(key, text) in entity.errors.title"
							class="invalid-feedback">{[key]}. {[text]}</div>
					</div>
				</div>
				<div class="form-group">
				    <div class="controls">
				
						<text-angular 
							name="body"
							ng-model="values.body"
							ta-toolbar="[['bold', 'italics', 'underline' ], ['ul', 'insertLink', 'html'] ,]"
							ta-text-editor-class="form-height form-control"
							>
						</text-angular>

						<div ng-if="entity.errors.body"
							ng-repeat="(key, text) in entity.errors.body"
							class="invalid-feedback" style="display:block;">{[key]}. {[text]}</div>
						
				    </div>
				</div>
			</form>
		</div>
		{% block base %}
		{% endblock base %}
	</div>

{% endblock content %}

{% block style %}
	{{ parent() }}

	<style>
		.editor-box {
			padding-top: 45px;
		   	padding-bottom:	20px;
			border-bottom: none;
			position: relative;
			width: 100%;
		}
		.editor-box .btns {
			position: absolute;
			top: 5px;
			right: 5px;
		}
		.editor-box .btns a {
		}
		.editor-box.editor {
			border: 1px solid;
			border-color: #e6e6e6;
			border-radius: 5px;
			background: #FFF;
		}
		ul.stage-tabs {
			border:none;
		}
		ul.stage-tabs li.nav-link {
		    border: none;
		    margin-right: 6px;
			background: #f9f9f9;
		}
		ul.stage-tabs li.nav-link.active {
			background: #f4f4f4;
			border: 1px solid #e6e6e6;
			border-bottom: 1px solid #f4f4f4;
			margin-bottom: -1px;
		}
		ul.stage-tabs li.nav-link.editor {
		}

		button {
			border-style: unset;
		}
		.process-stage-list {
			text-align: center;
			border: 2px solid white;
			padding: 4px;
			margin: 0;
		}
		.process-stage-list.active {
			border-color: #007bff;
		}
		.process-img-list {
		}
		.process-img-list .item {
		}
		.process-img-list .item:not(:first-child) {
			border-left: none;
		}
		.my-box {
		}
		.stage-box {
			margin: 12px;
		}
		.my-box.editor {
			background: white;
		}
		.stage-box.editor {
			border: 1px solid lightgray;
		}
		.my-box .errors {
		}
		.my-box form {
			padding: 12px;
		}

		.alert.ng-hide
		{
			opacity: 0;
		}
		/*.errors.ng-hide-remove*/
		.alert.ng-hide-add
	   	{
			transition: all linear 1s;
		}

		.messages {
			position: fixed;
		    top: 8%;
		    right: 0;
		    left: 0;
		    z-index: 1050;
			text-align: center;
		}
		.messages .alert {
			margin: 0;
		}
		.hint-row {
			margin: 0;
		}
		.hint-row .col {
		}

.pl-table  .row{ 
    margin: 0; 
    padding: 5px 20px; 
    align-items: center; 
	border-bottom: 1px solid #ddd;
}
 .pl-table .col{ 
    padding: 0 10px; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.pl-table .pl-thead {
    color: #979797;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}
	</style>

{% endblock style %}
