{% extends 'layout/layout.twig' %}

{% block body %}
<div class="row" ng-controller="DetailCtrl">
	<!--
	<div class="col-md-12">
		{{ navigation('navigation').menu().setUlClass('nav nav-tabs small').setMinDepth(0).setMaxDepth(1).setRenderInvisible(true) | raw }}
	</div>
	-->

	{% block content %}
		<!--<div class="col-md-12 breadcrumb">{{ navigation('navigation').breadcrumbs() | raw }}</div>-->

		{% block template %}{% endblock template %}

		<!--
		<div class="col-md-12 sidebar" style="">
			{% block sidebar %}{% endblock sidebar %}
		</div>
		-->
	{% endblock content %}
</div>
{% endblock body %}

{% block inline %}

	{[ parent() ]}
	
	<script>
	</script>

{% endblock %}
