{% extends 'layout/base-layout.twig' %}

{# block template #}
{% block content %}

	<div class="row"><div class="col-md-12"
		ng-cloak
		ng-controller="_DetailCtrl"
		ng-init="init({{ json(hal().renderEntity(hal)) | escape }}, {{ values | json_encode }})"
		>

		<!--{[ values ]}-->

		<!-- PROCESS DETAIL -->
		<div class="d-flex flex-column">
			<div class="d-flex">
				<h2 class="mr-auto">{[ values._embedded.title ]}</h2>
				<a href="" ng-click="editProcess(process)" class="btn"><i class="fa fa-pencil"></i></a>
			</div>
			<div class="d-flex" ng-include="'/js/custom/tpl/process-content.html'">
			</div>
		</div>
		<!-- END OF PROCESS DETAIL -->

		<!-- VERSION LIST -->
		<ul class="list-inline my-2">
			<li ng-repeat="(i,v) in process.versions" class="list-inline-item">
				<div class="btn-group btn-group-justified">
					<a href=""
					   class="btn btn-sm btn-outline-primary" 
					   ng-class="{active: v == version}"
					   ng-click="setVersion(v)"
					>{[ v.name ]} | {[ v.material.name ]}</a>
					<a href=""
					   class="btn btn-sm btn-outline-primary"
					   ng-click="addComment(v)"
					   ><i class="fa fa-comment"> {[ v.commentCount ]}</i></a>
					<a href=""
					   class="btn btn-sm btn-outline-primary"
					   ng-click="editVersion(v)"
					   ><i class="fa fa-pencil"></i></a>
					<a href=""
					   class="btn btn-sm btn-outline-primary"
					   ng-confirm-click
					   confirmed-click="deleteVersion(v)"
					   ><i class="fa fa-trash"></i></a>
					<a href=""
					   class="btn btn-sm btn-outline-primary" 
					   ng-click="cloneVersion(v)"
					>clone</a>
				</div>
			</li>
			<li class="list-inline-item">
				<a href="" ng-click="addVersion()" class="btn btn-sm btn-outline-primary">
					<i class="fa fa-plus"></i>
				</a>
			</li>
		</ul>
		<!-- END OF VERSION LIST -->

		<!-- VERSION STAGE TABS -->
		<ul ui-sortable
			ng-if="version"
			ng-model="version.stages" 
			ui-sortable-stop="stagesUpdated(version)"
			class="nav nav-tabs mt-2 border-0">
			<li ng-repeat="(i,stage) in version.stages" class="nav-link" 
				ng-class="{active:current===stage}"
			>
			<a href="" ng-click="setCurrent(stage);">
				<span class="mr-2 fa fa-arrows" ng-if="current===stage"></span>{[ stage.name ]}</a>
			</li>
			<li class="nav-link">
				<a href="" ng-click="addStage(version)" class="btn-sm btn-default">
					<span class="fa fa-plus"></span>
				</a>
			</li>
		</ul>

		<!-- END OF VERSION STAGE TABS -->

		<!-- VERSION STAGE CONTENT -->
		<div ng-if="!version.isStagesLoaded()" class="text-center my-2"><i class='fa fa-circle-o-notch fa-spin text-primary'></i></div>

		<div ng-if="current" class="d-flex flex-column border">
			<div class="">
				<a href="" ng-confirm-click confirmed-click="deleteStage(current)" class="btn pull-right">
					<i class="fa fa-trash"></i>
				</a>
				<a href="" ng-click="editStage(current)" class="btn pull-right">
					<i class="fa fa-pencil"></i>
				</a>
				<a href="" class="btn pull-right" ng-click="addComment(current)">
				   <i class="fa fa-comment"> {[ current.commentCount ]}</i>
		  		</a>
			</div>
			<div class="row pb-2">
				<div class="col-sm-12 col-md-4">
					<ng-include ng-repeat="stage in version.stages" 
						ng-if="stage === current"
						src="'/js/custom/tpl/stage-content.html'"
					/>
				</div>
				<div class="col-sm-12 col-md-8">
					<div class="d-flex">
						<div ng-repeat="stage in version.stages" 
							ng-class="{
								'bg-primary':current==stage,
								'text-light':current==stage,
								'bg-light':current!=stage
							}"
							ng-include="'/js/custom/tpl/stage-images.html'"
							></div>
					</div>
				</div>
			</div>
			<!-- END OF VERSION STAGE CONTENT -->
		
			<!-- HINTS TABLE -->
			<div ng-if="current && !current.isHintsLoaded()" class="text-center my-2"><i class='fa fa-circle-o-notch fa-spin text-primary'></i></div>
			<div ng-if="current && current.isHintsLoaded()" class="p-2 pt-4"><table ng-if="current" class="hint-table table table-bordered m-0">
				<thead class="text-center">
					<tr>
						<th rowspan="2">Error</th>
						<th colspan="3">Description</th>
						<th colspan="4">Simulation</th>
						<th rowspan="2"></th>
					</tr>
					<tr>
						<th>Reasons</th>
						<th>Influence</th>
						<th>Suggestions</th>
						<th>State</th>
						<th>Who</th>
						<th>Effect</th>
						<th>Prevention</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="p-0 text-center" colspan="12">
							<a href="" ng-click="addHint(current)" class="btn btn-sm">
								<i class="fa fa-plus"></i>
							</a>
						</td>
					</tr>
					<tr ng-if="!current.hints.length">
						<td class="text-center" colspan="12">No errors registered</td>
					</tr>
					<tr ng-if="current.hints.length" ng-repeat-start="(h, hint) in current.hints">
						<td rowspan="{[hint.simulations.length+1]}">
							<div class="small text-muted">{[ hint.type.operation.longName ]}</div>
							<a href="" class="btn btn-sm btn-{[badgeClass(hint.priority)]}" style="white-space:normal">
								<span class="badge badge-light mr-2">{[ hint.priority ]}</span>{[ hint.name ]} 
							</a>
							<p class="small">{[ hint.description ]}</p>
							<div class="btn-group btn-group-justified" style="justify-content:start;">
								<button href="" ng-click="addComment(hint)" class="btn btn-sm btn-outline-primary"><i class="fa fa-comment"></i> {[ hint.commentCount ]}</button>
								<button ng-href="{[ hint.links.getHref() ]}" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></button>
								<button href="" ng-click="editHint(hint)" class="btn btn-sm btn-outline-primary"><i class="fa fa-pencil"></i></button>
								<button href="" ng-confirm-click confirmed-click="deleteHint(hint)" class="btn btn-sm btn-outline-primary"><i class="fa fa-trash"></i></button>
							</div>
							<div class="small text-center text-muted">
								<a href="{[ hint.user.links.getHref() ]}">{[ hint.user.name ]}</a>. {[ hint.created | date:"dd MMM yyyy HH:mm" ]}
							</div>
						</td>
						<td colspan="9" class="text-center p-0">
							<a href="" ng-click="addSimulation(hint)" class="btn btn-sm">
								<i class="fa fa-plus"></i>
							</a>
						</td>
					</tr>
					<tr ng-repeat-end ng-repeat="s in hint.simulations">
						<td>
							<ul class="m-0">
								<!--
								<li ng-repeat="sim in s.parents">
								<span ng-repeat="inf in sim.influences">{[ sim.hint.name ]}</span>
								</li>
								-->
								<!--<li ng-repeat="note in s._embedded._embedded.reasons">-->
								<li ng-repeat="note in s.reasons" class="bg-light my-1">
									<div class="d-flex">
										<div class="mr-auto p-2">{[note.text]}</div>
										<div class="btn-group btn-group-vertical btn-group-justified pl-1" style="justify-content:start;">
											<a href="" class="btn btn-sm btn-outline-primary" ng-click="addComment(note)"><span class="fa fa-comment"></span> {[ note.commentCount ]}</a>
											<a href="" class="btn btn-sm btn-outline-primary" ng-click="editNote(note)"><span class="fa fa-pencil"></span></a>
											<a href="" class="btn btn-sm btn-outline-primary" ng-confirm-click confirmed-click="deleteNote(note)"><span class="fa fa-trash"></span></a>
										</div>
									</div>
									<div class="small p-2">
										<a href="{[ note.user.links.getHref() ]}" class="">{[ note.user.name ]}</a>. {[ note.created | date:"dd MMM yyyy HH:mm" ]}
									</div>
								</li>
								<li class="bg-light text-center"><a href="" ng-click="addReason(s)" class="btn btn-sm"><span class="fa fa-plus"></span></a></li>
							</ul>
						</td>
						<td>
							<ul class="m-0">
								<li ng-repeat="note in s.influences" class="bg-light my-1">
									<div class="d-flex">
										<div class="mr-auto p-2">{[note.text]}</div>
										<div class="btn-group btn-group-vertical btn-group-justified pl-1" style="justify-content:start;">
											<a href="" class="btn btn-sm btn-outline-primary" ng-click="addComment(note)"><span class="fa fa-comment"></span> {[ note.commentCount ]}</a>
											<a href="" class="btn btn-sm btn-outline-primary" ng-click="editNote(note)"><span class="fa fa-pencil"></span></a>
											<a href="" class="btn btn-sm btn-outline-primary" ng-confirm-click confirmed-click="deleteNote(note)"><span class="fa fa-trash"></span></a>
										</div>
									</div>
									<div class="small p-2">
										<a href="{[ note.user.links.getHref() ]}" class="">{[ note.user.name ]}</a>. {[ note.created | date:"dd MMM yyyy HH:mm" ]}
									</div>
								</li>
								<li class="bg-light text-center"><a href="" ng-click="addInfluence(s)" class="btn btn-sm"><span class="fa fa-plus"></span></a></li>
							</ul>
						</td>
						<td>
							<ul class="m-0">
								<li ng-repeat="note in s.suggestions" class="bg-light my-1">
									<div class="d-flex">
										<div class="mr-auto p-2">{[note.text]}</div>
										<div class="btn-group btn-group-vertical btn-group-justified pl-1" style="justify-content:start;">
											<a href="" class="btn btn-sm btn-outline-primary" ng-click="addComment(note)"><span class="fa fa-comment"></span> {[ note.commentCount ]}</a>
											<a href="" class="btn btn-sm btn-outline-primary" ng-click="editNote(note)"><span class="fa fa-pencil"></span></a>
											<a href="" class="btn btn-sm btn-outline-primary" ng-confirm-click confirmed-click="deleteNote(note)"><span class="fa fa-trash"></span></a>
										</div>
									</div>
									<div class="small p-2">
										<a href="{[ note.user.links.getHref() ]}" class="">{[ note.user.name ]}</a>. {[ note.created | date:"dd MMM yyyy HH:mm" ]}
									</div>
								</li>
								<li class="bg-light text-center"><a href="" ng-click="addSuggestion(s)" class="btn btn-sm"><span class="fa fa-plus"></span></a></li>
							</ul>
						</td>
						<td class="bg-light text-{[textClass(s.state)]}" ng-switch="s.state">
							<span ng-switch-when="-1">Not necessary</span>
							<span ng-switch-when="-2">Canceled</span>
							<span ng-switch-when="1">In progress</span>
							<span ng-switch-when="2">Finished</span>
							<span ng-switch-default>Not processed</span>
						</td>
						<td class="bg-light text-{[textClass(s.state)]}">
							<span ng-if="s.who">{[ s.who ]}<span ng-if="s.when"class="small"> on {[ s.when | date:"longDate"]}</span></span>
						</td>
						<td class="bg-light text-{[textClass(s.state)]}">
							<span ng-if="s.effect" ng-bind-html="s.effect"></span>
						</td>
						<td class="bg-light text-{[textClass(s.state)]}">
							<span ng-if="s.prevention" ng-bind-html="s.prevention"></span>
						</td>
						<td class="bg-light text-center">
							<div class="btn-group btn-group-vertical btn-group-justified" style="justify-content:start;">
								<button href="" ng-click="addComment(s)" class="btn btn-sm btn-outline-primary"><i class="fa fa-comment"></i> {[ s.commentCount ]}</button>
								<button href="" ng-click="renderSimulation(s)" class="btn btn-sm btn-outline-primary"><i class="fa fa-pencil"></i></button>
								<button href="" ng-confirm-click confirmed-click="deleteSimulation(s)" class="btn btn-sm btn-outline-primary">
									<i class="fa fa-trash"></i>
								</button>
							</div>
							<div class="small text-muted">
								<a href="{[ s.user.links.getHref() ]}">{[ s.user.name ]}</a> on {[ s.created | date:"dd MMM yyyy HH:mm" ]}
							</div>
						</td>
					</tr>
				</tbody>
			</table></div>
		</div>

	</div></div>

{% endblock content %}

{% block style %}

	{[ parent() ]}

	<style>
	li.nav-link.active {
		margin-bottom: -1px;
		border-bottom: 1px solid white;
	}
	.stage-img {
		max-height:300px;
	}
	table {
	}
	table td {
		/*max-width: 250px;*/
	}
	table ul {
		padding:0;
		list-style:none;
	}
	table ul li {
	}
	</style>

{% endblock style %}
