{% extends 'ma/process/base.twig' %}

{% block style %}

	{{ parent() }}

	<link href="{{ basePath() }}/css/custom/process-content.css" 
		media="screen" 
		rel="stylesheet" 
		type="text/css" />

	<style>
	.process-img-list {
		background: #E7E7E7;
	}
	.process-img-list .stage-img-list {
	}
	.process-img-list .active {
		background: white;
		border-left: 1px solid darkgray;
		border-right: 1px solid darkgray;
	}
	</style>

{% endblock style %}

{% block base %}

	<ul  
		ng-repeat="(i, stage) in values.versions"
		class="nav nav-tabs stage-tabs mt-2"
			ng-if="version == stage"
			ng-init="index = i;"
			ng-include="'/js/custom/tpl/stage-nav-content.html'">
	</ul>

	<div class="process-img-list d-flex justify-content-center mt-4 mb-4">

		<!--
		<ng-include ng-if="version" ng-repeat="(i, stage) in getStages(version)"
			src="'/js/custom/tpl/stage-img-content.html'"
			>
		-->
		<ng-include
			ng-repeat="(i, stage) in values.versions"
			ng-if="version == stage && stage._embedded && stage._embedded._embedded.images.length"
			src="'/js/custom/tpl/stage-img-content.html'"
		/>

	</div>

	<ng-include 
		ng-repeat="(i, stage) in values.versions"
		ng-if="version == stage;"
		src="'/js/custom/tpl/stage-tab-content.html'"
	/>

	<!--
	<ng-include ng-repeat="(index, stage) in getStages(version)"
		src="'/js/custom/tpl/stage-tab-content.html'"
		>
	-->

{% endblock base %}
