{% extends 'layout/base-layout.twig' %}

{# block template #}
{% block content %}

	<div class="row"><div class="col-md-12"
		ng-cloak
		ng-controller="_DetailCtrl"
		ng-init="init({{ json(hal().renderEntity(hal)) | escape }}, {{ values | json_encode }})"
		>

		<!--{[ values ]}-->

		<!-- PROCESS DETAIL -->
		<div class="d-flex flex-column">
			<div class="d-flex">
				<h2 class="mr-auto">{[ values._embedded.title ]}</h2>
				<a href="" class="btn"><i class="fa fa-pencil"></i></a>
			</div>
			<div class="d-flex" ng-include="'/js/custom/tpl/process-content.html'">
			</div>
		</div>
		<!-- END OF PROCESS DETAIL -->

		<!-- VERSION LIST -->
		<ul class="list-inline my-2">
			<li ng-repeat="(i,v) in values.versions" class="list-inline-item">
				<a href=""
				   class="btn btn-sm btn-outline-primary" 
				   ng-class="{active: v == version}"
				   ng-click="loadVersion(v)"
				>v{[i+1]} | {[ v._embedded._embedded.material.name ]}</a>
			</li>
			<li class="list-inline-item">
				<a href="" ng-click="addStage()" class="btn btn-sm btn-outline-primary">
					<i class="fa fa-plus"></i> version
				</a>
			</li>
		</ul>
		<!-- END OF VERSION LIST -->

		<!-- VERSION STAGE TABS -->
		<ul ng-repeat="(i,stage) in values.versions" 
			ng-if="stage == version"
			ng-include="'/js/custom/tpl/stage-tabs.html'"
			class="nav nav-tabs mt-2 border-0">
		</ul>
		<!-- END OF VERSION STAGE TABS -->

		<!-- VERSION STAGE CONTENT -->
		<div ng-if="current" class="d-flex flex-column border">
			<div class="">
				<a href="" ng-click="editStage(current)" class="btn pull-right">
					<i class="fa fa-pencil"></i>
				</a>
			</div>
			<div class="row" ng-repeat="(i,stage) in values.versions">
				<div class="col-sm-12 col-md-4">
					<ng-include 
						ng-if="stage == version"
						src="'/js/custom/tpl/stage-content.html'"
					/>
				</div>
				<div class="col-sm-12 col-md-8">
					<ng-include 
						ng-if="stage == version"
						class="d-flex"
						src="'/js/custom/tpl/stage-images.html'"
					/>
				</div>
			</div>
		</div>
		<!-- END OF VERSION STAGE CONTENT -->
		
		<!-- HINTS TABLE -->
		<table ng-if="current" class="table table-bordered my-2">
			<thead class="text-center">
				<tr>
					<th rowspan="2">Error</th>
					<th colspan="2">Relations</th>
					<th colspan="3">Description</th>
					<th rowspan="2"></th>
					<th colspan="4">Simulación</th>
					<th rowspan="2"></th>
				</tr>
				<tr>
					<th>Prevs</th>
					<th>Nexts</th>
					<th>Reasons</th>
					<th>Influence</th>
					<th>Suggestions</th>
					<th>State</th>
					<th>Who</th>
					<th>Effect</th>
					<th>Prevention</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(h, hint) in current.hints">
					<td>
						<div class="small text-muted">{[ hint._embedded._embedded.operation.name ]}</div>
						<div>
							<span class="badge badge-{[badgeClass(hint._embedded.priority)]}">{[ hint._embedded.priority ]}</span> {[ hint._embedded.name ]} 
						</div>
						<div class="small text-muted pull-right">
							<a href="{[ hint._embedded._embedded.owner._links.self.href ]}">{[ hint._embedded._embedded.owner.name ]}</a> on {[ hint._embedded.created*1000 | date:"dd MMM yyyy HH:mm" ]}
						</div>
					</td>
					<td>
						<ul>
							<li ng-repeat="parent in hint._embedded._embedded.parents">
								<div class="small text-muted">{[ parent._embedded.operation.name ]}</div>
								<div>
									<span class="badge badge-{[badgeClass(parent.priority)]}">{[ parent.priority ]}</span> {[ parent.name ]} 
								</div>
							</li>
						</ul>
					</td>
					<td>
					</td>
					<td>
						<ul>
							<li ng-repeat="note in hint._embedded._embedded.reasons">{[note.text]}</li>
						</ul>
					</td>
					<td>
						<ul>
							<li ng-repeat="note in hint._embedded._embedded.influences">{[note.text]}</li>
						</ul>
					</td>
					<td>
						<ul>
							<li ng-repeat="note in hint._embedded._embedded.suggestions">{[note.text]}</li>
						</ul>
					</td>
					<td class="">
						<div class="btn-group btn-group-justified">
							<!--<a href="" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i></a>-->
							<a href="" ng-click="editHint(hint)" class="btn btn-sm btn-outline-primary">
								<i class="fa fa-pencil"></i>
							</a>
							<a ng-href="{[ hint._embedded._links.self.href ]}" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></a>
						</div>
					</td>
					<td class="bg-light text-{[textClass(hint._embedded.state)]}" 
						ng-switch="hint._embedded.state">
						<span ng-switch-when="-1">Not necessary</span>
						<span ng-switch-when="-2">Canceled</span>
						<span ng-switch-when="1">In progress</span>
						<span ng-switch-when="2">Finished</span>
					</td>
					<td class="bg-light text-{[textClass(hint._embedded.state)]}">
						<span ng-if="hint._embedded.who">{[ hint._embedded.who ]} on {[ hint._embedded.when*1000 | date:"longDate"]}</span>
					</td>
					<td class="bg-light text-{[textClass(hint._embedded.state)]}">
						<span ng-if="hint._embedded.effect" ng-bind-html="hint._embedded.effect"></span>
					</td>
					<td class="bg-light text-{[textClass(hint._embedded.state)]}">
						<span ng-if="hint._embedded.prevention" ng-bind-html="hint._embedded.prevention"></span>
					</td>
					<td class="bg-light">
						<div class="btn-group btn-group-justified">
							<a ng-click="simuleHint(hint)" href="" class="btn btn-sm btn-outline-primary">
								<i class="fa fa-pencil"></i>
							</a>
						</div>
					</td>
				</tr>
				<tr>
					<td class="p-0 text-center" colspan="12">
						<a href="" ng-click="addHint()" class="btn"><i class="fa fa-plus"></i></a>
					</td>
				</tr>
			</tbody>
		</table>


	</div></div>

{% endblock content %}

{% block style %}

	{[ parent() ]}

	<style>
	li.nav-link.active {
		margin-bottom: -1px;
		border-bottom: 1px solid white;
	}
	.stage-img {
		max-height:300px;
	}
	table {
	}
	table td {
		/*max-width: 250px;*/
	}
	table ul {
		padding:0;
		list-style:none;
	}
	table ul li {
		background: #f8f9fa;
		margin-bottom: 1rem;
	}
	</style>

{% endblock style %}
