{% extends 'ma/process/base.twig' %}

{% block style %}

	{{ parent() }}

	<link href="{{ basePath() }}/css/custom/process-content.css" 
		media="screen" 
		rel="stylesheet" 
		type="text/css" />

{% endblock style %}

{% block base %}

	base

	<div class="btn-group" 
		ng-init="initVersion({{ json(hal().renderCollection(childrenHal)) | escape }}{% if version.id %}, {{ version.id }}{% endif %})"
	>
		<a ng-repeat="(i, v) in values.versions" href="" class="btn btn-sm btn-primary" ng-click="loadVersion(v)" ng-class="{'active': version==v}">v.{[ v.version ]}</a>
		<a href="" class="btn btn-sm btn-outline-primary" ng-if="values.versions[values.versions.length - 1]._embedded" ng-click="addVersion()"><i class="fa fa-plus"></i> version</a>
	</div>

	<ul  
		ng-repeat="(i, stage) in values.versions"
		class="nav nav-tabs stage-tabs mt-2"
			ng-if="version == stage"
			ng-init="index = i;"
			ng-include="'/js/custom/tpl/stage-nav-content.html'">
	</ul>

	<ng-include 
		ng-repeat="(i, stage) in values.versions"
		ng-if="version == stage"
		src="'/js/custom/tpl/stage-tab-content.html'"
	/>

	<!--
	<ng-include ng-repeat="(index, stage) in getStages(version)"
		src="'/js/custom/tpl/stage-tab-content.html'"
		>
	-->

{% endblock base %}
