{% extends 'layout/_layout.twig' %}
{% block script %}
	{{ parent() }}
	<script type="text/javascript" src="{{ basePath() }}/js/custom/operation-types.js"></script>
{% endblock script %}

{% block body %}
	{{ headTitle('Operation types') }}
	<ng-controller ng-controller="_OperationTypesCtrl"
			ng-init="init({{ json(hal().renderCollection(collectionHal)) | escape }})"
	>
	<table class="table table-bordered m-0">
		<thead>
			<tr>
				<th class="text-center">
					<a href="" class="btn btn-sm btn-outline-primary"><i class="fa fa-plus"></i></a>
				</th>
				<th>Name</th>
				<th>Description</th>
				<th>Owner</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat-start="group in collection" class="bg-light text-dark">
				<td class="py-1 text-center">
					<div class="btn-group btn-group-justified">
					<a href="" 
						title="New sub-operation for '{[group.text]}'"
						class="btn btn-sm btn-outline-secondary" 
						ng-click="addOperation(group)">
						<i class="fa fa-plus"></i></a>
					</div>
				</td>
				<td class="py-1 align-middle font-weight-bold">{[ group.text ]}</td>
				<td class="py-1 align-middle desc" ng-bind-html="group.description"></td>
				<td class="py-1 align-middle text-center">
					<a href="{[ group.user.links.getHref() ]}" class="">{[ group.user.name ]}</a>.
					<small class="">{[ group.created | date:"dd MMM yyyy HH:mm" ]}</span>
				</td>
				<td class="py-1 text-center">
					<div class="btn-group btn-group-justified">
					<a href="" 
						title="Edit '{[group.text]}'"
						class="btn btn-sm btn-outline-secondary" 
						ng-click="editGroup(group)"
					><i class="fa fa-pencil"></i></a>
					<a href="" 
						title="Delete '{[group.text]}'"
						class="btn btn-sm btn-outline-secondary" 
						ng-class="{disabled: !group.links.isAllowed('delete')}"
						ng-confirm-click
						confirmed-click="deleteGroup(group)"
					><i class="fa fa-trash"></i></a>
					</div>
				</td>
			</tr>
			<tr ng-repeat-end ng-repeat="op in group.operations">
				<!--<td class="small text-weight-bold py-0" colspan="3">Sub-operations</td>-->
				<td class="py-1 align-middle" colspan="2">{[ op.name ]}</td>
				<td class="py-1 align-middle desc" ng-bind-html="op.description"></td>
				<td class="py-1 align-middle text-center">
					<a href="{[ op.user.links.getHref() ]}">{[ op.user.name ]}</a>.
					<small class="text-muted">{[ op.created | date:"dd MMM yyyy HH:mm" ]}</span>
				</td>
				<td class="py-1 text-center">
					<div class="btn-group btn-group-sm btn-group-justified">
						<a href="{[ op.links.getHref() ]}"
							class="btn btn-sm btn-outline-primary"
						>
							<i class="fa fa-eye"></i>
						</a>
						<a href="" ng-click="editOperation(op)" 
							ng-class="{disabled: !op.links.isAllowed('edit')}"
							class="btn btn-sm btn-outline-primary"
						><i class="fa fa-pencil"></i></a>
						<a href=""
							class="btn btn-sm btn-outline-primary"
							ng-class="{disabled: !op.links.isAllowed('replace')}"
							ng-click="replaceOperation(op)"
						><i class="fa fa-trash"></i></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	</ng-controller>
{% endblock body %}
