{% extends 'layout/base-layout.twig' %}

{% block style %}
	{[parent()]}
	<style>
	p {
	margin:0;
	}
	</style>
{% endblock style %}
{% block content %}
	<div class="row">

		<!-- GROUP -->
		<div class="col-md-12"
			ng-controller="_OperationTypesCtrl"
			ng-init="init({{ json(hal().renderCollection(collectionHal)) | escape }})"
		>
			<div class="btn-group mt-2" role="group">
				<button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-plus"></i> New</button>
			</div>
			<div class="collapse my-2" id="collapseForm">
				<h2>{{ translate("New group") }}</h2>
				{{ partial('partial/form/operation-type', {'form': form}) }}
			</div>

			<hr class="my-2">

			<h2>{{ translate("Groups") }}</h2>

			<div ng-repeat="(index, group) in values" 
				class="my-2"
				ng-class="{first: $first, last: $last}"
			>
				<div class="d-flex">
					<div class="bg-secondary text-light px-4">
						{[ group._embedded.text ]}
					</div>
					<div ng-if="group._embedded.description" 
						class="small px-4" ng-bind-html="group.description">
					</div>
					<div class="ml-auto pl-4">
					  	<div class="btn-group btn-group-justified">
						<a href="" 
							class="btn btn-sm btn-primary" 
							ng-click="editGroup(group)"
						><i class="fa fa-pencil"></i></a>
						<!--<a href="" 
							class="btn btn-sm btn-primary" 
							ng-confirm-click
							confirmed-click="deleteType(group)"
						><i class="fa fa-trash"></i></a>-->
						</div>
					</div>
				</div>

				<!-- OPERATION -->
				<div ng-repeat="(i, op) in group.operations" 
					ng-class="{first: $first, last: $last}"
					class="my-2 border" 
					id="op-{[op.id]}"
				>
					<div class="d-flex">
						<div class="bg-light border-right px-4">
							{[ op._embedded.text ]}
						</div>
						<div ng-if="op._embedded.description" 
							 class="small px-4"
						   	 ng-bind-html="op.description">
						</div>
						<div class="ml-auto pl-4">
							<div class="btn-group btn-group-justified">
								<a href="" 
									ng-click="showHints(op)" 
									ng-class="{active:op._sh}"
									class="btn btn-sm btn-primary"
									data-toggle="collapse"
									data-target="#op-{[op.id]}-hints"
									aria-expanded="false"
								>
									<i class="fa" 
										ng-class="op._sh ? 'fa-eye-slash' : 'fa-eye'"
										>
									</i>
								</a>
								<a href="" ng-click="editOperation(group, op)" 
									class="btn btn-sm btn-primary"
								><i class="fa fa-pencil"></i></a>
								<a href=""
									class="btn btn-sm btn-primary"
									ng-confirm-click
									confirmed-click="deleteOperation(group, op)"
								><i class="fa fa-trash"></i></a>
							</div>
						</div>
					</div>

					<!-- HINT TYPES -->
					<div id="op-{[op.id]}-hints" class="collapse">
						<div ng-if="op.hints" 
							ng-repeat="hint in op.hints" 
							class="pl-4 border-top"
						>
							<div class="d-flex">
								<div class="mr-auto">
									<span class="badge badge-{[badgeClass(hint.priority)]}">{[ hint._embedded.priority ]}</span> {[hint._embedded.name]}
								</div>
								<div>
									<div class="btn-group btn-group-justified">
										<a  href="" 
											ng-click="editHint(op,hint)"
											class="btn btn-sm btn-primary"
										><i class="fa fa-pencil"></i></a>
										<a ng-href="{[ hint._embedded._links.self.href ]}" 
											class="btn btn-sm btn-primary"
										><i class="fa fa-eye"></i></a>
										<!--<a href=""  class="btn btn-sm btn-primary"
											ng-confirm-click
											confirmed-click="alert('todo!')">
											<i class="fa fa-trash"></i></a>-->
									</div>
								</div>
							</div>
						</div>
						<div ng-if="op.hints" class="text-center border-top">
							<a href=""ng-click="addHint(op)" class="btn btn-sm">
								<i class="fa fa-plus"></i>
							</a>
							<!--<p class="small">Showing {[ op.hints.length ]} error types</p>-->
						</div>
					</div>
				</div>

				<div class="text-center">
					<a href="" ng-click="addOperation(group)"><i class="fa fa-plus"></i></a>
				</div>

			</div>
		</div>
	</div>
{% endblock content %}
