{% extends 'layout/base-layout.twig' %}

{% block content %}
	<div class="row">

		<!-- GROUP -->
		<div class="col-md-12"
			ng-controller="_OperationTypesCtrl"
			ng-init="init({{ json(hal().renderCollection(collectionHal)) | escape }})"
		>
			<div class="btn-group mt-2" role="group">
				<button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-plus"></i> New</button>
			</div>
			<div class="collapse my-2" id="collapseForm">
				<h2>{{ translate("New group") }}</h2>
				{{ partial('partial/form/operation-type', {'form': form}) }}
			</div>

			<hr class="my-2">

			<h2>{{ translate("Groups") }}</h2>

			<div ng-repeat="(index, group) in values" 
				class="my-2 p-2 bg-light border"
				ng-class="{first: $first, last: $last}"
			>
				<div class="d-flex">
					<div class="d-flex flex-column mr-auto">
						<h4>{[ group._embedded.name ]}</h4>
						<div class="small border-bottom" 
							ng-bind-html="group._embedded.description">
						</div>
					</div>
					<div>
					  	<div class="btn-group btn-group-justified">
						<a href="" 
							class="btn btn-sm btn-primary" 
							ng-click="editGroup(group)"
						><i class="fa fa-pencil"></i></a>
						<!--<a href="" 
							class="btn btn-sm btn-primary" 
							ng-confirm-click
							confirmed-click="deleteType(group)"
						><i class="fa fa-trash"></i></a>-->
						</div>
					</div>
				</div>

				<!-- OPERATION -->
				<div ng-repeat="(i, op) in group.operations" class="p-2 my-1">
					<div class="d-flex flex-column" ng-if="!op.editor">
						<div class="d-flex">
							<div class="mr-auto"><h6>{[ op._embedded.text ]}</h6></div>
							<div>
								<div class="btn-group btn-group-justified">
									<a href="" ng-click="showHints(op)" 
										class="btn btn-sm btn-primary"
									>
										<i class="fa" 
											ng-if="op._embedded.id"									
											ng-class="{
												'fa-eye': !op.hints, 
												'fa-eye-slash': op.hints,
											}">
										</i><!-- 3 -->
									</a>
									<a href="" ng-click="editOperation(group, op)" 
										class="btn btn-sm btn-primary"
									><i class="fa fa-pencil"></i></a>
									<!--<a href=""
										class="btn btn-sm btn-primary"
										ng-confirm-click
										confirmed-click="deleteOp(group, op, i)"
									><i class="fa fa-trash"></i></a>-->
								</div>
							</div>
						</div>
						<div ng-if="op._embedded.description" class="small" ng-bind-html="op.description"></div>
					</div>

					<!-- HINT TYPES -->
					<div ng-if="op.hints" 
						ng-repeat="hint in op.hints" 
						class="pl-4 py-1 my-1"
					>
						<div class="d-flex">
							<div class="mr-auto">
								<span class="badge badge-{[badgeClass(hint.priority)]}">{[ hint.priority ]}</span> {[hint.name]}
							</div>
							<div class="btn-group btn-group-justified">
								<a ng-href="{[ hint._links.self.href ]}" 
									class="btn btn-sm btn-primary"
								><i class="fa fa-eye"></i></a>
								<!--<a href=""  class="btn btn-sm btn-primary"
									ng-confirm-click
									confirmed-click="alert('todo!')">
									<i class="fa fa-trash"></i></a>-->
							</div>
						</div>
					</div>
					<div ng-if="op.hints" class="text-center border-bottom">
						<a href=""ng-click="createHintDialog(op)" class="btn btn-sm">
							<i class="fa fa-plus"></i>
						</a>
						<p class="small">Showing {[ op.hints.length ]} error types</p>
					</div>
				</div>

				<div class="text-center">
					<a href="" ng-click="addOperation(group)"><i class="fa fa-plus"></i></a>
				</div>

			</div>
		</div>
	</div>
{% endblock content %}
