<div class="modal-header flex-column" ng-if="isProcess(comment.source)||isVersion(comment.source)||isStage(comment.source)">
	<div><a href="{[ comment.source.user.links.getHref() ]}">{[ comment.source.user.name ]}</a> on <small>{[ comment.source.created | date:"dd MMM yyyy HH:mm" ]}</small></div>
	<h3 class="modal-title">{[ comment.source.name ]}
		<span class="small text-secondary">| Comments</span>
	</h3>
	<div ng-if="comment.source.description" ng-bind-html="comment.source.description" class="desc"></div>
	<button ng-click="cancel()" type="button" class="close"
		data-dismiss="modal" aria-label="Close" style="
			position:absolute; top:5px; right:5px;
		">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" ng-init="init()">

	<ng-include src="'comment-item-list'" 
		ng-if="highest" 
		ng-repeat="comment in [highest]">
	</ng-include>

	<div class="sticky-top bg-white mb-2" ng-class="{'border-bottom':source.commentCount}" 
	  	ng-init="comment=source;"
		ng-include="'/js/custom/tpl/partial/comment/comment-item.html'">
	</div>

	<div ng-repeat="comment in source.getComments()" 
		ng-init="depth = 1;"
		ng-include="'/js/custom/tpl/partial/comment/reply-item.html'"
		class="">
	</div>

</div>

<div class="modal-footer flex-column" 
	 ng-include="'/js/custom/tpl/partial/comment/reply-form.html'">
</div>

<script type="text/ng-template" id="comment-item-list">
	<ng-include src="'/js/custom/tpl/partial/comment/comment-item.html'"/>
	<div ng-repeat="comment in comment.getChildren()"
		 ng-include="'/js/custom/tpl/partial/comment/comment-item.html'"
	>
	</div>
</script>
