<div class="modal-header">
	<h3 class="modal-title">{[ relation.reason.name ]} <small class="text-secondary" ng-if="relation.id">| edit reason</small><small class="text-secondary" ng-if="!relation.id">| new reason</small></h3>
</div>
<div class="modal-body">
	<div class="form-row my-2">
		<div class="form-group col-4">
			<select class="form-control"
				ng-model="values.relation.reason.stage"
				ng-options="item.id as item.name for item in [dflt].concat(prevStages)"
				ng-init="loadPreviousHints(values)"
				ng-change="loadPreviousHints(values)"
				>
			</select>
		</div>
		<div class="form-group col-8">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text border-right-0">
						<i class="fa fa-circle-o-notch" ng-class="{'fa-spin': prevsLoading[i]}"></i>
					</span>
		    	</div>
				<select class="form-control"
					ng-disabled="!values.relation.reason.stage"
					ng-class="{'is-invalid': errors.relations[i].relation.hint}"
					ng-model="values.relation.reason.hint"
					ng-options="item.id as item.name for item in values.previouses"
					>
				</select>
				<div class="input-group-append">
					<span class="input-group-button">
						<a href="" class="btn" ng-click="values.relations.splice(i, 1);">
							<span class="fa fa-close"></span>
						</a>
					</span>
		    	</div>
				<div ng-if="errors.relations[i].relation.hint"
					ng-repeat="(key, text) in errors.relations[i].relation.hint"
					class="invalid-feedback">{[key]}. {[text]}</div>
				</div>
		</div>
		<div class="form-group col-12">
			<text-angular 
				ng-model="values.description"
				ta-toolbar="[
					['bold', 'italics', 'underline' ],
			   		['ul', 'insertLink', 'html'],
				]"
				ta-text-editor-class="form-height form-control"
				ng-class="{'is-invalid': errors.relations[i].description}"
				placeholder="Describe relation.."
			>
			</text-angular>
			<div ng-if="errors.relations[i].description"
				ng-repeat="(key, text) in errors.relations[i].description"
				class="text-danger">{[key]}. {[text]}</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<a href="" class="btn btn-secondary" ng-click="cancel()">Cancel</a>
	<a href="" class="btn btn-success" ng-click="save()">Save</a>
</div>l
