<div class="modal-header">
	<h3 class="modal-title">{[ influence.name ]} <small class="text-secondary" ng-if="influence.id">| edit influence</small><small class="text-secondary" ng-if="!influence.id">| new influence</small></h3>
</div>
<div class="modal-body">

	<div class="btn-group">
		<a href="" class="btn btn-primary disabled">Influence</a>
		<a href="" class="btn btn-outline-primary" 
			ng-class="{disabled:!nextStages.length}" 
			ng-click="addInfluenceRel(values)">
			<span class="fa fa-plus"></span> Next error 
		</a>
		<a href="" class="btn btn-outline-primary" 
			ng-click="addInfluenceNote(values)">
			<span class="fa fa-plus"></span> Note
		</a>
	</div>
	<div class="btn-group">
		<a href="" class="btn btn-outline-primary"
		   	ng-click="addSimulation(values)">
			<span class="fa fa-plus"></span> Simulation
		</a>
	</div>
	<ng-include src="'/js/custom/tpl/modal/partial/hint-influence-partial.html'" />

</div>
<div class="modal-footer">
	<a href="" class="btn btn-secondary" ng-click="cancel()">Cancel</a>
	<a href="" class="btn btn-success" ng-click="save()">Save</a>
</div>
