<div class="modal-header">
	<h3 class="modal-title">{[ reason.name ]} <small class="text-secondary" ng-if="reason.id">| edit reason</small><small class="text-secondary" ng-if="!reason.id">| new reason</small></h3>
</div>
<div class="modal-body">
	<div class="form-group">
		<div class="btn-group">
			<a href="" class="btn btn-primary disabled">Reason</a>
			<a href="" class="btn btn-outline-primary" 
				ng-class="{disabled:!prevStages.length}" 
				ng-click="addReasonRel(values)">
				<span class="fa fa-plus"></span> Previous error 
			</a>
			<a href="" class="btn btn-outline-primary" 
				ng-click="addReasonNote(values)">
				<span class="fa fa-plus"></span> Note
			</a>
		</div>
		<div class="btn-group">
			<a href="" class="btn btn-outline-primary"
				ng-click="addInfluence(values)">
				<span class="fa fa-plus"></span> Influence
			</a>
		</div>
	</div>

	<div class="form-group mb-1">
		<!--<h6>Notes</h6>-->
		<div class="form-row" ng-repeat="(i, note) in values.notes">
			<div class="col-11">
				<div class="input-group">
					<text-angular 
						ng-model="note.text"
						ta-toolbar="[
							['bold', 'italics', 'underline' ],
					   		['ul', 'insertLink', 'html'],
						]"
						ta-text-editor-class="form-height form-control"
						ng-class="{'is-invalid': errors.notes[i].text}"
						placeholder="Describe reason.."
						class="small-area"
					>
					</text-angular>
					<div ng-if="errors.notes[i].text"
						ng-repeat="(key, text) in errors.notes[i].text"
						class="small text-danger">{[key]}. {[text]}</div>
				</div>
			</div>
			<div class="col-1 m-auto">
				<a href="" class="btn pull-right" ng-click="values.notes.splice(i, 1);">
					<span class="fa fa-close"></span>
				</a>
			</div>
		</div>
	</div>

	<div class="form-group mb-1">
		<!--<h6>Previous errors</h6>-->
		<div class="form-row my-1" ng-repeat="(i, value) in values.relations">
			<div class="col-4">
				<select class="form-control"
					ng-model="value.relation.reason.stage"
					ng-options="item.id as item.name for item in [dflt].concat(prevStages)"
					ng-init="loadPreviousHints(value)"
					ng-change="loadPreviousHints(value)"
					>
				</select>
			</div>
			<div class="col-8">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text border-right-0">
							<i class="fa fa-circle-o-notch" ng-class="{'fa-spin': prevsLoading[i]}"></i>
						</span>
			    	</div>
					<select class="form-control"
						ng-disabled="!value.relation.reason.stage"
						ng-class="{'is-invalid': errors.relations[i].relation.hint}"
						ng-model="value.relation.reason.hint"
						ng-options="item.id as item.name for item in value.previouses"
						ng-change="createPreviousHint(value)"
						>
					</select>
					<div class="input-group-append">
						<span class="input-group-button">
							<a href="" class="btn" ng-click="values.relations.splice(i, 1);">
								<span class="fa fa-close"></span>
							</a>
						</span>
			    	</div>
					<div ng-if="errors.relations[i].relation.hint"
						ng-repeat="(key, text) in errors.relations[i].relation.hint"
						class="invalid-feedback">{[key]}. {[text]}</div>
					</div>
			</div>
			<div class="col-12">
				<text-angular 
					ng-model="value.description"
					ta-toolbar="[
						['bold', 'italics', 'underline' ],
				   		['ul', 'insertLink', 'html'],
					]"
					ta-text-editor-class="form-height form-control"
					ng-class="{'is-invalid': errors.relations[i].description}"
					placeholder="Describe relation.."
				>
				</text-angular>
				<div ng-if="errors.relations[i].description"
					ng-repeat="(key, text) in errors.relations[i].description"
					class="text-danger">{[key]}. {[text]}</div>
			</div>
		</div>
	</div>

	<div ng-if="values.influences.length" class="form-group mb-1 border p-2">
		<!--<h6>Influences</h6>-->
		<div ng-repeat="(i, influence) in values.influences" style="position: relative">
			<a href="" class="btn" ng-click="rmInfluence(influence)" style="
				position: absolute;
				top: 0;
				right: 0;
			">
				<span class="fa fa-close"></span>
			</a>
			<div class="btn-group">
				<a href="" class="btn btn-primary disabled">Influence</a>
				<a href="" class="btn btn-outline-primary" 
					ng-class="{disabled:!nextStages.length}" 
					ng-click="addInfluenceRel(values)">
					<span class="fa fa-plus"></span> Next stage
				</a>
				<a href="" class="btn btn-outline-primary" 
					ng-click="addInfluenceNote(values)">
					<span class="fa fa-plus"></span> Note
				</a>
			</div>
			<div class="btn-group">
				<a href="" class="btn btn-outline-primary"
				   	ng-click="addSimulation(values)">
					<span class="fa fa-plus"></span> Simulation
				</a>
			</div>
			<ng-include src="'/js/custom/tpl/modal/partial/hint-influence-partial.html'" 
			 ng-init="values=influence;errors=errors.influences[i]"
			/>
		</div>
	</div>
</div>
<div class="modal-footer">
	<a href="" class="btn btn-secondary" ng-click="cancel()">Cancel</a>
	<a href="" class="btn btn-success" ng-click="save()">Save</a>
</div>
