<div class="modal-header">
	<h3 class="modal-title" ng-if="context.id">{[ context.name ]} <small class="text-secondary">| edit</small></h3>
	<h3 class="modal-title" ng-if="!context.id">{[ context.hint.name ]} <small class="text-secondary">| New Context</small></h3>
</div>
<div class="modal-body" ng-init="init()">
	<div class="form-group">
		<div class="btn-group btn-group-sm">
			<a href="" class="btn btn-secondary active disabled"><span class="fa fa-plus"></span> Reason</a>
			<a href="" ng-if="prevStages.length" class="btn btn-outline-primary" ng-click="addParent()">Stage</a>
			<a href="" class="btn btn-outline-primary" ng-click="addReason()">Note</a>
		</div>
		<div class="form-row my-2" ng-repeat="(i, stage) in values.parents">
			<div class="form-group col-4">
				<select class="form-control"
					ng-model="values.parents[i].stage"
					ng-options="item.id as item.name for item in [dflt].concat(prevStages)"
					>
				</select>
			</div>
			<div class="form-group col-8">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text border-right-0">
							<i class="fa fa-circle-o-notch fa-spin"></i>
						</span>
			    	</div>
					<select class="form-control"
						ng-disabled="!values.parents[i].stage"
						ng-class="{'is-invalid': errors.parents[i].hint}"
						ng-model="values.parents[i].hint"
						ng-options="item.id as item.name for item in [dflt].concat(prevHints(i))"
						>
					</select>
					<div class="input-group-append">
						<span class="input-group-button">
							<button class="btn" ng-click="values.parents.splice(i, 1);">
								<span class="fa fa-close"></span>
							</button>
						</span>
			    	</div>
					<div ng-if="errors.parents[i].hint"
						ng-repeat="(key, text) in errors.parents[i].hint"
						class="invalid-feedback">{[key]}. {[text]}</div>
					</div>
			</div>
		</div>
		<div class="form-grop my-2" ng-repeat="(i, reason) in values.reasons">
			<div class="input-group">
				<textarea rows="2" 
					ng-class="{'is-invalid': errors.reasons[i].text}"
					ng-model="reason.text"
					placeholder="Describe reason.."
					class="form-control">
				</textarea>
				<div class="input-group-append">
					<span class="input-group-button">
						<button class="btn" ng-click="values.reasons.splice(i, 1);">
							<span class="fa fa-close"></span>
						</button>
					</span>
		    	</div>
				<div ng-if="errors.reasons[i].text"
					ng-repeat="(key, text) in errors.reasons[i].text"
					class="invalid-feedback">{[key]}. {[text]}</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="btn-group btn-group-sm">
			<a href="" class="btn btn-secondary active disabled"><span class="fa fa-plus"></span> Influence</a>
			<a href="" ng-if="nextStages.length" class="btn btn-outline-primary" ng-click="addChild()">Stage</a>
			<a href="" class="btn btn-outline-primary" ng-click="addInfluence()">Note</a>
		</div>
		<div class="form-row my-2" ng-repeat="(i, stage) in values.children">
			<div class="form-group col-4">
				<select class="form-control"
					ng-model="values.children[i].stage"
					ng-options="item.id as item.name for item in [dflt].concat(nextStages)"
					>
				</select>
			</div>
			<div class="form-group col-8">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text border-right-0">
							<i class="fa fa-circle-o-notch fa-spin"></i>
						</span>
			    	</div>
					<select class="form-control"
						ng-disabled="!values.children[i].stage"
						ng-class="{'is-invalid': errors.children[i].hint}"
						ng-model="values.children[i].hint"
						ng-options="item.id as item.name for item in [dflt].concat(nextHints(i))"
						>
					</select>
					<div class="input-group-append">
						<span class="input-group-button">
							<button class="btn" ng-click="values.children.splice(i, 1);">
								<span class="fa fa-close"></span>
							</button>
						</span>
			    	</div>
				</div>
				<div ng-if="errors.children[i].hint"
					ng-repeat="(key, text) in errors.children[i].hint"
					class="invalid-feedback">{[key]}. {[text]}</div>
			</div>
		</div>
		<div class="form-grop my-2" ng-repeat="(i, influence) in values.influences">
			<div class="input-group">
				<textarea rows="2" 
					ng-class="{'is-invalid': errors.influences[i].text}"
					ng-model="influence.text"
					placeholder="Describe influence.."
					class="form-control">
				</textarea>
				<div class="input-group-append">
					<span class="input-group-button">
						<button class="btn" ng-click="values.influences.splice(i, 1);">
							<span class="fa fa-close"></span>
						</button>
					</span>
		    	</div>
				<div ng-if="errors.influences[i].text"
					ng-repeat="(key, text) in errors.influences[i].text"
					class="invalid-feedback">{[key]}. {[text]}</div>
			</div>
		</div>
	</div>
	<div class="form-group">
	  	<label for="inputSuggestions">Suggestions</label>
		<div class="form-row"
			ng-repeat="(_i, note) in values.suggestions"
			>
			<div class="form-group col-sm-11">
				<textarea rows="2" 
					ng-class="{'is-invalid': errors.suggestions[_i]}"
					ng-model="values.suggestions[_i].text"
					class="form-control">
				</textarea>
				<div ng-if="errors.suggestions[_i]"
					ng-repeat="(key, text) in errors.suggestions[_i]"
					class="invalid-feedback">{[key]}. {[text]}</div>
			</div>
			<div class="form-group col-sm-1 text-center">
				<a href="" class="btn btn-sm btn-outline-primary" 
					ng-click="values.suggestions.splice(_i, 1);">
					<span class="fa fa-close"></span>
				</a>
			</div>
		</div>
		<div>
			<a href="" class="btn btn-sm btn-outline-primary" 
			ng-click="values.suggestions.push({})">
			<span class="fa fa-plus"></span></a>
		</div>
	</div>
</div>
<div class="modal-footer">
	<a href="" class="btn btn-secondary" ng-click="cancel()">Cancel</a>
	<a href="" class="btn btn-success" ng-click="save()">Save</a>
</div>
