<div class="modal-header">
	<h3 class="modal-title">{[ group.name ]}: {[ values.text ]}</h3>
</div>
<div class="modal-body">
	<div class="form-group">
		<div class="form-row">
			<div class="form-group col-md-11">
				<!--<label for="inputText">Name</label>-->
				<input type="text"
					class="form-control" 
					placeholder="Name"
					ng-class="{'is-invalid': errors.text}"
					ng-disabled="values.children.length"
					ng-model="values.text"
					/>
				<div ng-if="errors.text"
					ng-repeat="(key, text) in errors.text"
					class="invalid-feedback">{[key]}. {[text]}</div>
			</div>
			<div class="form-group col-md-1">
				<a href="" ng-click="mixed()" class="btn">
					<i class="fa fa-retweet" />	
				</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<!--<label for="inputDescription">Description</label>-->
		<text-angular 
			ng-model="values.description"
			ta-toolbar="[
				['bold', 'italics', 'underline' ],
		   		['ul', 'insertLink', 'html'],
			]"
			ta-text-editor-class="form-height form-control"
			ng-class="{'is-invalid': errors.description}"
			placeholder="Description"
			class=""
		>
		</text-angular>

		<div ng-if="errors.description"
			ng-repeat="(key, text) in errors.description"
			class="invalid-feedback" style="display:block;">{[key]}. {[text]}</div>
	</div>
	<fieldset>
		<!--<legend>Children</legend>-->
		<div ng-repeat="(i, child) in values.children" class="form-row p-2 my-2 border">
			<div class="form-group col-md-11">
				<div class="form-row">
					<div class="form-group col-md-4">
						<!--<label for="inputName">Operation</label>-->
						<select class="form-control"
						ng-model="values.children[i]"
						ng-change="reloadTitle()"
						ng-options="item as item.name for 
							item in getOperations(values.children[i], values.children) 
							track by item.id"
						>
						</select>
					</div>
					<div class="form-group col-md-8">
						<div class="form-group">
							<!--<label for="inputText">Name</label>-->
							<input type="text"
								placeholder="Name"
								ng-change="reloadTitle()"
								class="form-control" 
								ng-class="{'is-invalid': errors.children[i].text}"
								ng-disabled="child.id > 0"
								ng-model="child.text"
								/>
							<div ng-if="errors.children[i]"
								ng-repeat="(key, text) in errors.children[i].text"
								class="invalid-feedback">{[key]}. {[text]}</div>
						</div>
					</div>
					<div class="form-group col-md-12">
						<text-angular 
							ng-model="child.description"
							ta-disabled="child.id > 0"
							ta-toolbar="[
								['bold', 'italics', 'underline' ],
						   		['ul', 'insertLink', 'html'],
							]"
							ta-text-editor-class="form-height form-control"
							ng-class="{'is-invalid': errors.children[i].description}"
							placeholder="Description"
							class=""
						>
						</text-angular>

						<div ng-if="errors.children[i]"
							ng-repeat="(key, text) in errors.children[i].description"
							class="invalid-feedback" style="display:block;">{[key]}. {[text]}</div>
					</div>
				</div>
			</div>
			<div class="form-group col-md-1">
				<a href="" 
					ng-click="values.children.splice(i, 1)"
					ng-class="{disabled:values.children.length <= 2}"
					class="btn btn-sm btn-default pull-right">
					<i class="fa fa-remove" />
				</a>
			</div>
		</div>
		<div ng-if="values.children.length || values.children[values.children.length - 1].id > 0" 
			class="form-group p-2 my-2 text-center">
			<a href="" 
				ng-click="addChild()" 
				class="btn btn-sm btn-default">
				<i class="fa fa-plus" />
			</a>
		</div>
	</fieldset>
</div>
<div class="modal-footer">
	<a href="" class="btn btn-default" ng-click="cancel()">Cancel</a>
	<a href="" class="btn btn-success" ng-click="save()">Save</a>
</div>
