<div class="modal-header">
	<h3 class="modal-title">{[ simulation.name ]} <small class="text-secondary" ng-if="simulation.id">| edit simulation</small><small class="text-secondary" ng-if="!simulation.id">| new simulation</small></h3>
</div>
<div class="modal-body">
	<div class="form-group">
		<div class="btn-group">
			<a href="" class="btn btn-primary disabled">Simulation</a>
			<a href="" class="btn btn-outline-primary" 
				ng-click="values.suggestions.push({})">
				<span class="fa fa-plus"></span> Suggestion
			</a>
			<a href="" class="btn btn-outline-primary" 
				ng-click="values.effects.push({})">
				<span class="fa fa-plus"></span> Effect
			</a>
			<a href="" class="btn btn-outline-primary" 
				ng-click="values.preventions.push({})">
				<span class="fa fa-plus"></span> Prevention
			</a>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-4">
			<!--<label for="inputName">Status</label>-->
			<select class="form-control" 
				class="form-control" 
				ng-model="values.state"
		  		ng-class="{'is-invalid': errors.state}"
			>
				<option ng-repeat="option in stateOptions" 
					ng-selected="option.id == values.state" 
					value="{[option.id]}">{[ option.name ]}</option>
			</select>
			<div ng-if="errors.state"
				ng-repeat="(key, text) in errors.state"
				class="invalid-feedback">{[key]}. {[text]}</div>
		</div>
		<div class="form-group col-md-4">
			<!--<label for="inputTitle">Who</label>-->
		    <input type="text" 
		  		id="inputEmploye"
		   		class="form-control" 
				placeholder="Who"
				ng-disabled="values.state <= 0"
		  		ng-class="{'is-invalid': errors.who}"
		  		ng-model="values.who"/>
			<div ng-if="errors.who"
				ng-repeat="(key, text) in errors.who"
				class="invalid-feedback">{[key]}. {[text]}</div>
		</div>
		<div class="form-group col-md-4">
			<!--<label for="inputTitle">When</label>-->
			<div class="input-group">
				<input type="text" class="form-control" 
					uib-datepicker-popup="dd/MM/yyyy" 
					placeholder="When"
					ng-model="values.when" 
					ng-disabled="values.state <= 0"
					is-open="popup.opened" 
					datepicker-options="dateOptions" 
					ng-required="true" 
					close-text="Close" 
					alt-input-formats="altInputFormats" 
		  			ng-class="{'is-invalid': errors.when}"
				/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" 
						ng-click="popup.opened = true">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
				<div ng-if="errors.when"
					ng-repeat="(key, text) in errors.when"
					class="invalid-feedback">{[key]}. {[text]}</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-row" ng-repeat="(i, note) in values.suggestions">
			<div class="form-group col-sm-11">
				<text-angular 
					ng-model="note.text"
					ta-toolbar="[
						['bold', 'italics', 'underline' ],
				   		['ul', 'insertLink', 'html'],
					]"
					ta-text-editor-class="form-height form-control"
					ng-class="{'is-invalid': errors.suggestions[i].text}"
					placeholder="Describe suggestion.."
					class=""
				>
				</text-angular>
				<div ng-if="errors.suggestions[i].text"
					ng-repeat="(key, text) in errors.suggestions[i].text"
					class="text-danger">{[key]}. {[text]}</div>
			</div>
			<div class="form-group col-sm-1 text-center my-auto">
				<a href="" class="btn btn-sm btn-outline-primary" 
					ng-click="values.suggestions.splice(i, 1);">
					<span class="fa fa-close"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-row" ng-repeat="(i, note) in values.effects">
			<div class="form-group col-sm-11">
				<text-angular 
					ng-model="note.text"
					ta-toolbar="[
						['bold', 'italics', 'underline' ],
				   		['ul', 'insertLink', 'html'],
					]"
					ta-text-editor-class="form-height form-control"
					ng-class="{'is-invalid': errors.effects[i].text}"
					placeholder="Describe effect.."
					class=""
				>
				</text-angular>
				<div ng-if="errors.effects[i].text"
					ng-repeat="(key, text) in errors.effects[i].text"
					class="text-danger">{[key]}. {[text]}</div>
			</div>
			<div class="form-group col-sm-1 text-center my-auto">
				<a href="" class="btn btn-sm btn-outline-primary" 
					ng-click="values.effects.splice(i, 1);">
					<span class="fa fa-close"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-row" ng-repeat="(i, note) in values.preventions">
			<div class="form-group col-sm-11">
				<text-angular 
					ng-model="note.text"
					ta-toolbar="[
						['bold', 'italics', 'underline' ],
				   		['ul', 'insertLink', 'html'],
					]"
					ta-text-editor-class="form-height form-control"
					ng-class="{'is-invalid': errors.preventions[i].text}"
					placeholder="Describe prevention.."
					class=""
				>
				</text-angular>
				<div ng-if="errors.preventions[i].text"
					ng-repeat="(key, text) in errors.preventions[i].text"
					class="text-danger">{[key]}. {[text]}</div>
			</div>
			<div class="form-group col-sm-1 text-center my-auto">
				<a href="" class="btn btn-sm btn-outline-primary" 
					ng-click="values.preventions.splice(i, 1);">
					<span class="fa fa-close"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="form-group">
		<!--<label for="inputParents">Images</label>-->
		<div class="d-flex flex-column">
			<div ng-repeat="(index, image) in values.images" 
				class="mt-1 mb-1 d-flex flex-fill" 
				style="
			">
				<div style="
					min-width: 120px;
					background: lightgray;	
				">
					<img ng-if="image.links" ng-src="{[ image.links.getHref() ]}" width=120 height=120 />
					<img ng-if="!image.links" ng-src="/image/{[image.id]}" width=120 height=120 />
				</div>
				<div class="align-self-stretch flex-fill mx-4">
					<textarea 
						class="form-control" 
						style="height:100%;"
						ng-model="image.description"
						placeholder="Image description..."
					></textarea>
				</div>
				<div class="align-self-center" style="">
					<a href="" class="btn btn-default" ng-click="values.images.splice(index, 1)"><span class="fa fa-remove"></span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label 
			class=""
			style="
				padding: .5rem 1rem;
			    font-size: 1.25rem;
			    line-height: 1.5;
			    border-radius: .3rem;
			    cursor: pointer;
				color: #fff;
			    background-color: #007bff;
			    border-color: #007bff;
			">
			<i class="fa fa-file-image-o"></i>
			<input type="file"
				file-change="uploadFile"
				file-entity="simulation"
				file-index="{[ values.images.length ]}"
				style="display:none;"
				/>
		</label>
		<div ng-if="errors.file"
			ng-repeat="(key, text) in errors.file"
			class="invalid-feedback" style="display:block;">{[key]}. {[text]}
		</div>
	</div>
</div>
<div class="modal-footer">
	<a href="" class="btn btn-default" ng-click="cancel()">Cancel</a>
	<a href="" class="btn btn-success" ng-click="save()">Save</a>
</div>
