<div class="modal-header">
	<h3 class="modal-title">{[ simulation.name ]} <small class="text-secondary" ng-if="simulation.id">| edit simulation</small><small class="text-secondary" ng-if="!simulation.id">| new simulation</small></h3>
</div>
<div class="modal-body">
	<div class="form-group">
	  	<label for="inputReasons">Reasons</label>
		<div class="form-row my-2"
			ng-repeat="(i, note) in values.reasons"
			>
			<div class="col-md-11"> 
				<div class="form-group">
					<textarea rows="2" 
						ng-class="{'is-invalid': errors.reasons[i].text}"
						ng-model="values.reasons[i].text"
						placeholder="Description"
						class="form-control">
					</textarea>
					<div ng-if="errors.reasons[i].text"
						ng-repeat="(key, text) in errors.reasons[i].text"
						class="invalid-feedback">{[key]}. {[text]}</div>
				</div>
			</div>
			<div class="form-group col-sm-1 my-auto text-center">
				<a href="" class="btn btn-sm btn-outline-primary" 
					ng-click="values.reasons.splice(i, 1);">
					<span class="fa fa-close"></span>
				</a>
			</div>
		</div>
		<div>
			<a href="" class="btn btn-sm btn-outline-primary" 
			ng-click="values.reasons.push({})">
			<span class="fa fa-plus"></span></a>
		</div>
	</div>
	<div class="form-group">
	  	<label for="inputInfluences">Influences</label>
		<div class="form-row"
			ng-repeat="(i, note) in values.influences"
			>
			<div class="col-md-11"> 
				<div class="form-group">
					<textarea rows="2" 
						ng-class="{'is-invalid': errors.influences[i].text}"
						ng-model="values.influences[i].text"
						class="form-control">
					</textarea>
					<div ng-if="errors.influences[i].text"
						ng-repeat="(key, text) in errors.influences[i].text"
						class="invalid-feedback">{[key]}. {[text]}</div>
				</div>
			</div>
			<div class="col-sm-1 form-group my-auto text-center">
				<a href="" class="btn btn-sm btn-outline-primary" 
					ng-click="values.influences.splice(i, 1);">
					<span class="fa fa-close"></span>
				</a>
			</div>
		</div>
		<div>
			<a href="" class="btn btn-sm btn-outline-primary" 
			ng-click="values.influences.push({})">
			<span class="fa fa-plus"></span></a>
		</div>
	</div>
	<div class="form-group">
	  	<label for="inputSuggestions">Suggestions</label>
		<div class="form-row"
			ng-repeat="(_i, note) in values.suggestions"
			>
			<div class="form-group col-sm-11">
				<textarea rows="2" 
					ng-class="{'is-invalid': errors.suggestions[_i]}"
					ng-model="values.suggestions[_i].text"
					class="form-control">
				</textarea>
				<div ng-if="errors.suggestions[_i]"
					ng-repeat="(key, text) in errors.suggestions[_i]"
					class="invalid-feedback">{[key]}. {[text]}</div>
			</div>
			<div class="form-group col-sm-1 text-center">
				<a href="" class="btn btn-sm btn-outline-primary" 
					ng-click="values.suggestions.splice(_i, 1);">
					<span class="fa fa-close"></span>
				</a>
			</div>
		</div>
		<div>
			<a href="" class="btn btn-sm btn-outline-primary" 
			ng-click="values.suggestions.push({})">
			<span class="fa fa-plus"></span></a>
		</div>
	</div>
</div>
<div class="modal-footer">
	<a href="" class="btn btn-secondary" ng-click="cancel()">Cancel</a>
	<a href="" class="btn btn-success" ng-click="save()">Save</a>
</div>
