<div class="modal-header">
	<h3 class="modal-title" ng-if="type.id">{[ type.name ]} <small class="text-secondary">| edit version type</small></h3>
	<h3 ng-if="!type.id">New version type</h3>
</div>
<div class="modal-body">
	<div class="form-group">
		<!--<label for="inputTitle">Name</label>-->
	    <input type="text" 
	  		id="inputTitle"
	   		class="form-control" 
			placeholder="Name"
	  		ng-class="{'is-invalid': errors.name}"
	  		ng-model="values.name"/>
		<div ng-if="errors.name"
			ng-repeat="(key, text) in errors.name"
			class="invalid-feedback">{[key]}. {[text]}</div>
	</div>
	<div class="form-group">
		<text-angular 
		ng-model="values.description"
		ta-toolbar="[['bold', 'italics', 'underline' ], ['ul', 'insertLink', 'html'] ,]"
		ta-text-editor-class="form-height form-control"
		ng-class="{'is-invalid': errors.description}"
		placeholder="Description..."
		>
		</text-angular>

		<div ng-if="errors.description"
			ng-repeat="(key, text) in errors.description"
			class="invalid-feedback" style="display:block;">{[key]}. {[text]}</div>
	</div>
</div>
<div class="modal-footer">
	<a href="" class="btn btn-secondary" ng-click="cancel()">Cancel</a>
	<a href="" class="btn btn-success" ng-click="save()">Save</a>
</div>
