{% extends 'layout/base-layout.twig' %}

{% block content %}
	<div class="col-md-22">
		<h2>{{ translate("New version type") }}</h2>
		{{ partial('partial/form/version-type', {'form': form, 'redirect': redirect}) }}
	</div>
{% endblock content %}
