{% extends 'layout/layout.twig' %}

{% block body %}
	<div class="col-md-2 d-none d-md-block bg-light sidebar sidebar-fixed" style="">
		{% block sidebar %}
		<div class="sidebar-sticky">
			{{ navigation('navigation').menu()
				.setUlClass('nav flex-column')
				.setMinDepth(0).setMaxDepth(2)
				.setOnlyActiveBranch(false)
				.setRenderInvisible(true) | raw }}
		</div>
		{% endblock sidebar %}
	</div>

	<div class="col-md-10 ml-sm-auto px-0 col-sm-12" style="">
		{#<div class="breadcrumb">
			{{ navigation('navigation').breadcrumbs().setSeparator(" / ").setRenderInvisible(true) | raw }}
		</div>#}
		{% block content %}{% endblock content %}
	</div>
{% endblock body %}
