{% extends 'layout/layout.twig' %}

{% block body %}
	<div class="col-md-2 d-none d-md-block sidebar sidebar-fixed" style="">
		{% block sidebar %}
		<div class="sidebar-sticky">
			{{ navigation('navigation').menu()
				.setUlClass('nav flex-column')
				.setMinDepth(0).setMaxDepth(2)
				.setOnlyActiveBranch(false)
				.setAddClassToListItem(true)
				.setRenderInvisible(true) | raw }}
		</div>
		{% endblock sidebar %}
	</div>

	<div class="col-md-10 ml-sm-auto px-0 col-sm-12" style="">
		{#<div class="breadcrumb">
			{{ navigation('navigation').breadcrumbs().setSeparator(" / ").setRenderInvisible(true) | raw }}
		</div>#}
		{% block content %}{% endblock content %}
    	<footer class="row" style="padding: 20px 0;">
			<hr>
			<div class="col-md-12"><p>&copy; 2018</p></div>
    	</footer>
	</div>
{% endblock body %}
