<div class="modal-header">
	<h3 class="modal-title" ng-if="version.id">{[ version.name ]} <span class="small">| edit</small></h3>
	<h3 class="modal-title" ng-if="!version.id">New version</h3>
</div>
<div class="modal-body" ng-init="init()">
	<div class="form-group">
	<!--<label for="inputParents">Material</label>-->
		<select class="form-control"
			ng-class="{'is-invalid': errors.material}"
			ng-model="values.material"
			ng-options="item.id as item.name for item in materials"
			>
		</select>
		<div ng-if="errors.material"
			ng-repeat="(key, text) in errors.material"
			class="invalid-feedback">{[key]}. {[text]}</div>
	</div>
	<div class="form-group">
		<!--<label for="inputText">Name</label>-->
		<input type="text"
			class="form-control" 
			placeholder="Name"
			ng-class="{'is-invalid': errors.name}"
			ng-model="values.name"
			/>
		<div ng-if="errors.name"
			ng-repeat="(key, text) in errors.name"
			class="invalid-feedback">{[key]}. {[text]}</div>
	</div>
	<div class="form-group">
		<!--<label for="inputDescription">Description</label>-->
		<text-angular 
			ng-model="values.description"
			ta-toolbar="[
				['bold', 'italics', 'underline' ],
		   		['ul', 'insertLink', 'html'],
			]"
			ta-text-editor-class="form-height form-control"
			ng-class="{'is-invalid': errors.description}"
			placeholder="Description"
			class=""
		>
		</text-angular>

		<div ng-if="errors.description"
			ng-repeat="(key, text) in errors.description"
			class="invalid-feedback" style="display:block;">{[key]}. {[text]}</div>
	</div>
</div>
<div class="modal-footer">
	<a href="" class="btn btn-default" ng-click="cancel()">Cancel</a>
	<a href="" class="btn btn-success" ng-click="save()">Save</a>
</div>
