<div class="d-flex flex-row">
	<div class="text-center">
		<a ng-if="version.links.has('image')" href="{[ version.links.getHref()  ]}">
			<img class="img-responsive img-thumbnail stage-img" ng-src="{[ version.links.getHref('image') ]}"/>
		</a>
	</div>
	<div class="flex-fill ml-2">
		<div ng-if="version.expanded || version.description.length <= 500"
			compile="version.description" 
			 class="text-expanded desc" 
			 style="">
		</div>
		<div ng-if="!version.expanded && version.description.length > 500"
			compile="(version.description | limitTo: 500) + '... <a href=\'\' ng-click=\'version.expanded = true;\' class=\'small\'>view more</a>'" 
			 class="text-collapsed desc" 
			 style="">
		</div>
	</div>
</div>
