{% extends 'layout/base-layout.twig' %}

{% block content %}
	<div class="col-md-22">
		<h2>{{ translate("New material") }}</h2>

		{{ partial('partial/form/material', {'form': form, 'redirect': redirect}) }}
	</div>
{% endblock content %}
