.nav-tabs {
    border-bottom: none;
}
ul.stage-tabs {
    border-bottom: 1px solid #CCC;
}
ul.stage-tabs li.nav-link.active {
    background: white;
    border: 1px solid #CCC !important;
    border-bottom: 1px solid white !important;
    margin-bottom: -1px;
}
ul.stage-tabs li.nav-link.active a {
	color: black;
}
ul.stage-tabs li.nav-link {
	background: aliceblue;
}

/*
.pl-table > .pl-thead > .row, 
.pl-table > .pl-tbody > .row { 
    margin: 0; 
    padding: 5px 20px; 
    align-items: center; 
	border-bottom: 1px solid #CCC;
}
 .pl-table .col{ 
    padding: 0 10px; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.pl-table .pl-thead {
    color: #979797;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}
*/
