{% extends 'layout/base-layout.twig' %}

{% block content %}
<div class="col-md-12">

	<h2>{{ translate("New user") }}</h2>
	{{ partial('partial/form/user', {'form': form, 'redirect': redirect}) }}

</div>
{% endblock content %}
